<form class="base-roll-dialog">
    <h2>{{title}}</h2>
    <div class="form-group">
        {{#if specializations}}
        <div class="form-row">
            <label>
                <input type="checkbox" name="useSpecialization" {{#if hasSpecialization}}checked{{/if}}>
                {{localize "MO.ui.dialog.useSpecialization"}}: {{specializations}}
            </label>
        </div>
        {{/if}}
        <div class="form-row">
            <label>
                <input type="checkbox" name="useBackground">
                {{localize "MO.ui.dialog.useBackground"}}
            </label>
        </div>
    </div>
    <div class="form-group state-switch">
        <label class="switch-label fortune-label" style="color: green;">
            <input type="checkbox" name="fortune">
            {{localize "MO.ui.dialog.fortune"}}
        </label>
        <label class="switch-label misfortune-label" style="color: red; margin-left: 1em;">
            <input type="checkbox" name="misfortune">
            {{localize "MO.ui.dialog.misfortune"}}
        </label>
    </div>
    <div class="form-group">
        <button type="submit" name="roll">
            <i class="fas fa-dice-d8"></i> {{localize "MO.ui.dialog.roll"}}
        </button>
    </div>
</form>