<form class="opposition-roll-dialog">
    <h2>{{title}}</h2>

    <div class="form-group">
        <div class="form-row">
            <label>
                <input type="checkbox" name="useBackground">
                {{localize "MO.ui.dialog.reduceByBackground"}}
            </label>
        </div>
    </div>

    <div class="form-group state-switch">
        <label class="switch-label fortune-label" style="color: green;">
            <input type="checkbox" name="fortune">
            {{localize "MO.ui.dialog.fortune"}}
        </label>
        <label class="switch-label misfortune-label" style="color: red; margin-left: 1em;">
            <input type="checkbox" name="misfortune">
            {{localize "MO.ui.dialog.misfortune"}}
        </label>
    </div>

    <div class="form-group">
        <p class="roll-note">
            {{localize "MO.ui.dialog.oppositionRollNote"}}
        </p>
    </div>

    <div class="form-group">
        <button type="submit" name="roll">
            <i class="fas fa-dice-d8"></i> {{localize "MO.ui.dialog.roll"}}
        </button>
    </div>
</form>