<div class="dice-roll magic-overflow-roll">
    <div class="dice-formula">{{formula}}</div>
    <div class="dice-result">
        <div class="dice-tooltip expanded">
            <section class="tooltip-part">
                <div class="dice">
                    <ol class="dice-rolls">
                        {{#each results}}
                        <li
                            class="roll die d8 {{#if (or (eq this.result 3) (eq this.result 7) (eq this.result 8))}}max{{/if}}">
                            {{this.result}}</li>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
        <div class="roll-results">
            {{!-- Базовая информация для всех бросков --}}
            <div>{{localize "MO.ui.roll.minorSuccess"}}: {{successes.minorSuccess}}</div>
            <div>{{localize "MO.ui.roll.majorSuccess"}}: {{successes.majorSuccess}}</div>
            <div>{{localize "MO.ui.roll.overflow"}}: {{successes.overflow}}</div>

            {{!-- Информация специфичная для магического броска --}}
            {{#if spellResult}}
            <div
                class="spell-result {{#if spellResult.success}}success{{/if}}{{#if spellResult.partial}}partial{{/if}}{{#if spellResult.failure}}failure{{/if}}">
                {{spellResult.message}}
            </div>
            <div class="circles-result">
                {{filledMessage}}
            </div>
            {{/if}}

            {{!-- Предупреждение о переполнении для всех бросков --}}
            {{#if overflowMessage}}
            <div class="overflow-warning">
                {{overflowMessage}}
            </div>
            {{/if}}
        </div>
    </div>
</div>