<form class="actor-sheet">
    <header class="sheet-header">
        <img src="{{actor.img}}" alt="Character Image" class="portrait" />
        <div class="info">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
            <input name="system.archetype" type="text" value="{{actor.system.archetype}}" placeholder="Archetype" />
        </div>
    </header>

    <section class="sheet-body">
        <div class="proficiencies">
            <h2>{{localize "ui.Skills"}}</h2>
            <ul>
                {{#each skills}}
                <li>
                    <input type="checkbox" class="skill-checkbox" data-skill="{{name}}" {{#if
                        hasSkill}}checked{{/if}} />
                    {{localize name}}
                </li>
                {{/each}}
            </ul>

            <h2>{{localize "ui.Backgrounds"}}</h2>
            <ul>
                {{#each backgrounds}}
                <li>
                    <input type="checkbox" class="background-checkbox" data-background="{{name}}" {{#if
                        hasBackground}}checked{{/if}} />
                    {{localize name}}
                </li>
                {{/each}}
            </ul>

            <h2>{{localize "ui.Knowledge"}}</h2>
            <ul>
                {{#each knowledge}}
                <li>
                    <input type="checkbox" class="knowledge-checkbox" data-knowledge="{{name}}" {{#if
                        hasKnowledge}}checked{{/if}} />
                    {{localize name}}
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
</form>