<form class="actor-sheet">
    <header class="sheet-header">
        <img src="{{actor.img}}" alt="Character Image" class="portrait" />
        <div class="info">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'MO.ui.characterName'}}" />
            <input name="system.archetype" type="text" value="{{actor.system.archetype}}"
                placeholder="{{localize 'MO.ui.archetype'}}" />
        </div>
    </header>

    <section class="sheet-body">
        <div class="proficiencies">
            <div class="skills-section">
                <h2>{{localize "MO.ui.skills"}}</h2>
                <ul>
                    {{#each skills}}
                    <li>
                        <input type="checkbox" class="skill-checkbox" data-skill="{{name}}" {{#if
                            hasSkill}}checked{{/if}} />
                        <span>{{localize label}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="backgrounds-section">
                <h2>{{localize "MO.ui.backgrounds"}}</h2>
                <ul>
                    {{#each backgrounds}}
                    <li>
                        <input type="checkbox" class="background-checkbox" data-background="{{name}}" {{#if
                            hasBackground}}checked{{/if}} />
                        <span>{{localize label}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="knowledge-section">
                <h2>{{localize "MO.ui.knowledge"}}</h2>
                <ul>
                    {{#each knowledge}}
                    <li>
                        <input type="checkbox" class="knowledge-checkbox" data-knowledge="{{name}}" {{#if
                            hasKnowledge}}checked{{/if}} />
                        <span>{{localize label}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
</form>